*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #fff;
    background-color: #111;
    height: 100vh;
    margin: 0;
}
#page-container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
#grid-container{
    display: grid;
}
@media only screen and (min-width: 601px){       /* desktop */
    #grid-container{
        grid-template-areas: 'pic ttl'
                             'pic inf'
                             'pic btn'
    }
    #title h2{
        font-size: 24px;
        margin-left: 1rem;
    }
    #info{
        margin-left: 1rem;
    }
    #pic{
        margin: auto;
        margin-right: 1rem;
        width: 256px;
        height: 256px;
    }
    #buttons{
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: .5rem;
    }
    
    main{
        width: min(max(50vw, 800px), calc(100% - 4rem));
        margin: 8rem auto 2rem auto;
    }
    .bodywidth{
        width: min(max(50vw, 800px), calc(100% - 4rem));
        margin: 0 auto;
    }
}
@media only screen and (max-width: 600px){       /* mobile */
    #grid-container{
        grid-template-areas: 'pic ttl'
                             'inf inf'
                             'btn btn';
    }
    #title h2{
        font-size: 20px;
        word-spacing: 100vw;
    }
    #pic{
        margin: auto 1rem auto 0;
        width: 64px;
        height: 64px;
    }
    #buttons{
        flex-direction: column;
    }
    main{
        margin: 5rem 2rem 2rem 2rem;
    }
    .bodywidth{
        margin: 0 2rem;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff4;
    background-color: #111e;
    white-space: nowrap;
}
header h1{
    padding: .3rem 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    color: #fff;
    letter-spacing: -.05rem;
}
footer{
    width: 100vw;
    border-top: 1px solid #fff4;
}
footer p{
    padding: .3rem 0;
    font-size: min(16px, 3.38vw);
}
p{
    color: #fff;
    font-size: 16px;
}
p a:link{
    color: #fff;
    text-decoration: underline;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 24px;
}
a:link, a:visited{
    color: #fff;
    text-decoration: none;
}
main a:hover{
    color: #4af;
}
#title{
    grid-area: ttl;
}
#info{
    grid-area: inf;
}
#buttons{
    display: flex;
    grid-area: btn;
    margin-top: 1rem;
}
#calendar{
    width: auto;
    background-color: #e3e9ff;
    border-top: .25rem solid #e3e9ff;
    border-bottom: .25rem solid #e3e9ff;
    border-radius: .25rem;
}
.button{
    background-color: #0004;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: .25s;
    border: 1px solid #fff;
    border-radius: .5rem;
    margin: .5rem;
    white-space: nowrap;
}
.button:hover{
    color: #fff;
    margin: .25rem;
    padding: 1.25rem;
    box-shadow: 0 0 2rem -.75rem #fff;
    color: #000;
    background-color: #fff;
}
.cur{
    animation: blink .5s ease-in-out 0s infinite alternate;
}
#pic{
    align-items: right;
    grid-area: pic;
    border-radius: 50%;
    background-image: url('assets/pfp.jpg');
    background-size: 100%;
}
.btnBreathe{
    animation-name: breathe;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn1{
    animation-delay: .25s;
}
.btn2{
    animation-delay: .5s;
}
@keyframes blink{
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes breathe{
    0%   {}
    100% {box-shadow: 0 0 2rem -.75rem rgb(255, 255, 255)} 
}