body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: #fff;
    margin: 0px;
}
#page-container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .3rem 0rem;
}
main {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}
#footer {
    width: 100%;
    padding: .3rem 0rem;
}
p {
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-size: 24px;
    font-weight: 700;
}
h2 {
    font-size: 24px;
    font-weight: 700;
}
h2 a:link {
    color: #000;
    text-decoration: none;
}
h2 a:visited {
    color: #000;
}
h2 a:hover {
    color: #00f;
}
h1 a:link {
    color: #000;
    text-decoration: none;
}
h1 a:visited {
    color: #000;
}
h1 a:hover {
    color: #00f;
}
.yeehaw {
    transition: .3s;
    width: fit-content;
    margin: auto;
}
.yeehaw:hover {
    opacity: 0;
}