#cube {
    width: 30vmin;
    height: 30vmin;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    transform: rotate3d(1, 0, 1, 45deg);
    margin: auto;
    margin-top: 8rem;
    animation: rotate 5s linear 0s infinite reverse;
}
.face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    background-color: #0a02;
    border: .5vmin solid #afa;
    box-shadow: 0 0 5vmin 0px #0a08;
    /* animation: imFresh 5s linear 0s infinite; */
}
.face:hover {
    background-color: #0a04;
    transition-duration: .25s;
    border: .5vmin solid #fff;
    box-shadow: 0 0 5vmin 0px #0a0
}
.face:active {
    background-color: #fff8;
    border: .5vmin solid #afa;
    box-shadow: 0 0 5vmin 0px #0a08;
    transition-duration: 0s;
}
.front {
    transform: translateZ(15vmin);
    animation: cubeBreatheFront 2s ease-in-out 0s infinite alternate;

}
.back {
    transform: rotateY(180deg) translateZ(15vmin);
    animation: cubeBreatheBack 2s ease-in-out .2s infinite alternate;

}
.left {
    transform: rotateY(-90deg) translateZ(15vmin);
    animation: cubeBreatheLeft 2s ease-in-out .1s infinite alternate;

}
.right {
    transform: rotateY(90deg) translateZ(15vmin);
    animation: cubeBreatheRight 2s ease-in-out .4s infinite alternate;

}
.top {
    transform: rotateX(90deg) translateZ(15vmin);
    animation: cubeBreatheTop 2s ease-in-out .3s infinite alternate;

}
.bottom {
    transform: rotateX(-90deg) translateZ(15vmin);
    animation: cubeBreatheBottom 2s ease-in-out .5s infinite alternate;

}
@keyframes rotate {
    100% {transform: rotate3d(1, 0, 1, 405deg);}
}
/* @keyframes imFresh {
    0%    {border: 2px solid #faf; box-shadow: 0 0 100px 0px #FaF1;}
    33%   {border: 2px solid #aff; box-shadow: 0 0 100px 0px #aFF4;}
    66%   {border: 2px solid #ffa; box-shadow: 0 0 100px 0px #FFa4;}
    100%  {border: 2px solid #faf; box-shadow: 0 0 100px 0px #FaF1;}
} */
@keyframes cubeBreatheFront{
    0%   {}
    25%  {transform: translateZ(15vmin)}
    50%  {transform: translateZ(30vmin)}
    75%  {transform: translateZ(15vmin)}
    100% {}
}
@keyframes cubeBreatheBack{
    0%   {}
    25%  {transform: rotateY(180deg) translateZ(15vmin)}
    50%  {transform: rotateY(180deg) translateZ(30vmin)}
    75%  {transform: rotateY(180deg) translateZ(15vmin)}
    100% {}
}
@keyframes cubeBreatheLeft{
    0%   {}
    25%  {transform: rotateY(-90deg) translateZ(15vmin)}
    50%  {transform: rotateY(-90deg) translateZ(30vmin)}
    75%  {transform: rotateY(-90deg) translateZ(15vmin)}
    100% {}
}
@keyframes cubeBreatheRight{
    0%   {}
    25%  {transform: rotateY(90deg)  translateZ(15vmin)}
    50%  {transform: rotateY(90deg)  translateZ(30vmin)}
    75%  {transform: rotateY(90deg)  translateZ(15vmin)}
    100% {}
}
@keyframes cubeBreatheTop{
    0%   {}
    25%  {transform: rotateX(90deg)  translateZ(15vmin)}
    50%  {transform: rotateX(90deg)  translateZ(30vmin)}
    75%  {transform: rotateX(90deg)  translateZ(15vmin)}
    100% {}
}
@keyframes cubeBreatheBottom{
    0%   {}
    25%  {transform: rotateX(-90deg) translateZ(15vmin)}
    50%  {transform: rotateX(-90deg) translateZ(30vmin)}
    75%  {transform: rotateX(-90deg) translateZ(15vmin)}
    100% {}
}